@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    /* Material Surface Container Low */
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}